.cat-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 32px;
}

.cat-detail img {
  margin: 32px 0 24px 0;
  width: 800px;
  height: 500px;
}

.cat-detail p {
  text-align: justify;
}