main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 32px;
}

main img {
  margin: 32px 0 24px 0;
  width: 800px;
  height: 500px;
}

main p {
  text-align: justify;
}

.back-button {
  padding: 12px 32px;
  margin-top: 32px;
  border-radius: 7px;
  width: 100%;

  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  text-align: center;

  background-color: orange;
  color: white;
}

.back-button:hover {
  opacity: 0.8;
}